.sign-in{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width :25%;
    height : 50%;
    //  border : 2px solid blue;
    // margin-left : 10px;
    padding : 10px;
    // justify-content: center;
    // align-items: center;
    .formButtons{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}