.custom-button{
    padding: 18px 20px;
    min-width: 160px;
    background-color: black;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    border:none;
    &:hover{
        cursor: pointer;
        background-color: white;
        color: black;
        border : 1px solid black;
    }
   
    &.google-sign-in {
        background-color: #4285f4;
        &:hover{
            cursor: pointer;
            background-color: #357ae8;
            border : none;
        }
      }
      &.inverted{
        background-color: white;
        color: black;
        border: 1px solid black;
       &:hover{
           background-color: black;
           color: white;
           border: 1px solid none;
       }
    }      
}
